.App {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.scanner-container {
  width: 40%;
}

.video-container {
  width: 50%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

.verified-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 255, 0, 0.5);
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 2em;
}
